<body class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">Cover</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="headquarter"
            >Our headquarter</a
          >
          <a class="nav-link" href="members">The members</a>
          <a class="nav-link" href="contact-us">Contact us</a>
        </nav>
      </div>
    </header>

    <main class="px-3">
      <h1>WALIBEI</h1>
      <p class="lead">
        Your digital space to buy or sell products, request or offer services,
        find or offer jobs. Your all-in-one for everything, anywhere for
        anything.
      </p>
      <br />
      <p>
        WALIBEI has its main headquarter based in Conakry, Republic of Guinea.
        It has branches in Burkina faso as well in the Democratic Republic of
        the Congo.
        <br />
        Our representative in those countries are open to cooperate. We intend
        to serve all over the african continent and later on the whole world.
      </p>
      <p class="lead">
        <a
          href="contact-us"
          class="btn btn-lg btn-secondary fw-bold border-white bg-white"
          >Contact us</a
        >
      </p>
    </main>
  </div>
</body>
