<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="first-slide" src="./assets/banner.png" alt="First slide">
        <div class="container">
          <div class="carousel-caption text-left">
            <h3>Buy or sell products</h3>
            <p>Buy your products either online to have them delivered to you, or place your orders then collect them at the nearest shop
            </p>
            <p><a class="btn btn-lg btn-primary" href="product" role="button">shopping</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="second-slide" src="./assets/banner.png" alt="Second slide">
        <div class="container">
          <div class="carousel-caption">
            <h3>Request or offer a service</h3>
            <p>Offer or request services anywhere, anytime and under any circumstances</p>
            <p><a class="btn btn-lg btn-primary" href="service" role="button">Available services</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="third-slide" src="./assets/banner.png" alt="Third slide" style="width: 10px;">
        <div class="container">
          <div class="carousel-caption text-right">
            <h3>Find or offer a job</h3>
            <p>Your ideal space to offer job offers, sell your skills to future employers
                </p>
            <p><a class="btn btn-lg btn-primary" href="job" role="button">Available jobs</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <a href="guinea-map"> 
          Republic of Guinea
        </a>
      </div>
      <div class="col-sm">
        <a href="burkina-map"> 
          Burkina Faso
        </a>
      </div>
      <div class="col-sm">
        <a href="drcongo-map"> 
          Democratic Republic of the Congo
        </a>
      </div>
    </div>
  </div>

  <div class="jumbotron" style="background-color: #fff; height: calc(50vh);">
    <div class="container">
        <h2 class="display-5">Your all-in-one for everything, everywhere.</h2>
    <p class="lead">
      Your digital space to buy or sell products, request or offer services, find or offer jobs.
    </p>
    <p><a class="btn btn-primary btn-lg" href="account" role="button">Create an account &raquo;</a></p>
    </div>
  </div>

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-3">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Top products</h2>
        <p>Our shops/sellers have a variety of products available for you. If you would like to see the list of our 
          top products as well the most rated sellers, you can click on the view button below to be redirected  to the page. 
          Wonkhai! 
        </p>
        <p><a class="btn btn-secondary" href="#" role="button">View list  &raquo;</a></p>
      </div><!-- /.col-lg-3 -->
      <div class="col-lg-3">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Top services</h2>
        <p>
          Our services providers have a variety of services of any kind available for you. If you would like to see the list of our 
          top services as well the most rated sellers, you can click on the view button below to be redirected  to the page. 
          Wonkhai! 
        </p>
        <p><a class="btn btn-secondary" href="#" role="button">View list  &raquo;</a></p>
      </div><!-- /.col-lg-3 -->
      <div class="col-lg-3">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Top job offers</h2>
        <p>
          Our job offers providers have a variety of job offers available for you. If you would like to see the list of our 
          top jobs as well the most rated sellers, you can click on the view button below to be redirected  to the page. 
          Wonkhai! 
        </p>
        <p><a class="btn btn-secondary" href="#" role="button">View list &raquo;</a></p>
      </div><!-- /.col-lg-3 -->

      <div class="col-lg-3">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Latest updates</h2>
        <p>
          Declutering is the best filtering option ever. Click on the view button below to see our latest and new 
          uploaded products, services, and job posts. Catch you there !
        </p>
        <p><a class="btn btn-secondary" href="#" role="button">View list &raquo;</a></p>
      </div><!-- /.col-lg-3 -->
    </div>
    

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-6 col-md">
          <h5>Services</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">service offer</a></li>
            <li><a class="link-secondary" href="#">Ticket office</a></li>
            <li><a class="link-secondary" href="#">events</a></li>
            <li><a class="link-secondary" href="#">Online tutoring</a></li>
            <li><a class="link-secondary" href="#">Offline tutoring</a></li>
            <li><a class="link-secondary" href="#">Car-sharing</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Jobs</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Professionals</a></li>
            <li><a class="link-secondary" href="#">Technicians</a></li>
            <li><a class="link-secondary" href="#">Repairers</a></li>
            <li><a class="link-secondary" href="#">Freelancers</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Clothing</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Clothes</a></li>
            <li><a class="link-secondary" href="#">Shoes</a></li>
            <li><a class="link-secondary" href="#">accessories and luggage</a></li>
            <li><a class="link-secondary" href="#">Watches and jewelry</a></li>
            <li><a class="link-secondary" href="#">Babies equipments</a></li>
            <li><a class="link-secondary" href="#">Watches and jewelry</a></li>
            <li><a class="link-secondary" href="#">Babies clothes</a></li>
            <li><a class="link-secondary" href="#">Luxury and Trendy</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Real estate</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Real estate sales</a></li>
            <li><a class="link-secondary" href="#">New real estate</a></li>
            <li><a class="link-secondary" href="#">Rentals</a></li>
            <li><a class="link-secondary" href="#">Shared accomodation</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-6 col-md">
          <h5>Professional materials</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Agricultural materials</a></li>
            <li><a class="link-secondary" href="#">Transportation and Logistics</a></li>
            <li><a class="link-secondary" href="#">construction materials</a></li>
            <li><a class="link-secondary" href="#">Industrial equipments</a></li>
            <li><a class="link-secondary" href="#">Office materials</a></li>
            <li><a class="link-secondary" href="#">Medical equipments</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Vehicules</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Cars</a></li>
            <li><a class="link-secondary" href="#">Motorbikes</a></li>
            <li><a class="link-secondary" href="#">Trucks</a></li>
            <li><a class="link-secondary" href="#">Auto equipment</a></li>
            <li><a class="link-secondary" href="#">Motorbikesvequipment</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Rental houses</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Decoration</a></li>
            <li><a class="link-secondary" href="#">Furnishing</a></li>
            <li><a class="link-secondary" href="#">Home appliance</a></li>
            <li><a class="link-secondary" href="#">Gardening</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Hotels</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Hotel rooms</a></li>
            <li><a class="link-secondary" href="#">Accommodations</a></li>
            <li><a class="link-secondary" href="#">food</a></li>
            <li><a class="link-secondary" href="#">Call for a service</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-6 col-md">
          <h5>Multimedia</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Cool stuff</a></li>
            <li><a class="link-secondary" href="#">Random feature</a></li>
            <li><a class="link-secondary" href="#">Team feature</a></li>
            <li><a class="link-secondary" href="#">Stuff for developers</a></li>            
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Hobbies</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Console and video games</a></li>
            <li><a class="link-secondary" href="#">Image and sound</a></li>
            <li><a class="link-secondary" href="#">telephony</a></li>
            <li><a class="link-secondary" href="#">computer science</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>medical care</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Hospitals</a></li>
            <li><a class="link-secondary" href="#">Clinics</a></li>
            <li><a class="link-secondary" href="#">Public health centers</a></li>
            <li><a class="link-secondary" href="#">Private health centers</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Produits</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Primary sector</a></li>
            <li><a class="link-secondary" href="#">Secondary sector</a></li>
            <li><a class="link-secondary" href="#">Tertiary sector</a></li>
            <li><a class="link-secondary" href="#">Others products</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-6 col-md">
          <h5>First-hand</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Luxury</a></li>
            <li><a class="link-secondary" href="#">Cosmetics</a></li>
            <li><a class="link-secondary" href="#">Laptops and Mobile phones</a></li>
            <li><a class="link-secondary" href="#">Stuff for developers</a></li>
            <li><a class="link-secondary" href="#">Bikes</a></li>
            <li><a class="link-secondary" href="#">Anything</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Second-hand</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Cars</a></li>
            <li><a class="link-secondary" href="#">Bikes</a></li>
            <li><a class="link-secondary" href="#">Personal computers</a></li>
            <li><a class="link-secondary" href="#">Mobile phones</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Import-Export</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Products</a></li>
            <li><a class="link-secondary" href="#">Cashew nut</a></li>
            <li><a class="link-secondary" href="#">Cultural clothing</a></li>
            <li><a class="link-secondary" href="#">Arts and Sculptures</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Other</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Products</a></li>
            <li><a class="link-secondary" href="#">Services</a></li>
            <li><a class="link-secondary" href="#">Jobs</a></li>
            <li><a class="link-secondary" href="#">stuff</a></li>
          </ul>
        </div>
      </div>
    </footer>