<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <img class="mb-2" src="./assets/logo.png" alt="" width="50" height="50" />
      <small class="d-block mb-3 text-muted"
        >Walibei &copy; 2021; all rights reserved.</small
      >
      <p class="float-end mb-1">
        <i class="bi bi-arrow-up-circle-fill"></i>
        <a href="#"> Back to top</a>
      </p>
    </div>
    <div class="col-6 col-md">
      <h5>Our company</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="about-us">About us</a></li>
        <li><a class="link-secondary" href="#">our products</a></li>
        <li><a class="link-secondary" href="#">Our services</a></li>
        <li><a class="link-secondary" href="#">Our jobs</a></li>
        <li><a class="link-secondary" href="#">Our headquarters</a></li>
        <li><a class="link-secondary" href="contact-us">Contact us</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Terms of use and general conditions</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Terms of use</a></li>
        <li><a class="link-secondary" href="#">General conditions</a></li>
        <li><a class="link-secondary" href="#">Complaints</a></li>
        <li><a class="link-secondary" href="#">Refunds</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Help</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Feedbacks</a></li>
        <li><a class="link-secondary" href="#">Customers care</a></li>
        <li><a class="link-secondary" href="#">Jobs and careers</a></li>
        <li><a class="link-secondary" href="#">getting started guide</a></li>
        <li><a class="link-secondary" href="blog">Blog</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Follow us</h5>
      <ul class="list-unstyled text-small">
        <li>
          <i class="bi bi-facebook"></i>
          <a class="link-secondary" href="https://www.facebook.com/walibei224">
            Facebook</a
          >
        </li>
        <li>
          <i class="bi bi-linkedin"></i>
          <a
            class="link-secondary"
            href="https://www.linkedin.com/company/walibei"
          >
            LinkedIn</a
          >
        </li>
        <li>
          <i class="bi bi-twitter"></i>
          <a class="link-secondary" href="https://twitter.com/walibei224">
            Twitter</a
          >
        </li>
        <li>
          <i class="bi bi-instagram"></i>
          <a class="link-secondary" href="https://www.instagram.com/walibei/">
            Instagram</a
          >
        </li>
        <li>
          <i class="bi bi-youtube"></i>
          <a
            class="link-secondary"
            href="https://www.youtube.com/channel/UC9Mpo4VJFsqn6Z48UdVdeCA"
          >
            Youtube</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
