<div class="text-center mb-4">
  <div class="container">
    <figure class="figure">
      <img
        src="assets/guinea.png"
        usemap="#image_map"
        style="width: 600; height: 500"
      />
      <figcaption class="figure-caption text-right">
        <h3>Sélectionnez une région sur la carte pour filtrer les offres</h3>
      </figcaption>
      <map name="image_map">
        <area
          alt="Conakry"
          title="Conakry"
          href="#"
          coords="4,123,73,158"
          shape="rect"
        />
        <area
          alt="Kindia"
          title="Kindia"
          href="#"
          coords="55,92,115,120"
          shape="rect"
        />
        <area
          alt="Boké"
          title="Boké"
          href="#"
          coords="12,25,63,78"
          shape="rect"
        />
        <area
          alt="Labé"
          title="Labé"
          href="#"
          coords="94,11,147,53"
          shape="rect"
        />
        <area
          alt="Mamou"
          title="Mamou"
          href="#"
          coords="86,55,140,89"
          shape="rect"
        />
        <area
          alt="Faranah"
          title="Faranah"
          href="#"
          coords="144,72,193,106"
          shape="rect"
        />
        <area
          alt="Kankan"
          title="Kankan"
          href="#"
          coords="195,41,258,105"
          shape="rect"
        />
        <area
          alt="N'Zérékore"
          title="N'Zérékore"
          href="#"
          coords="206,133,282,183"
          shape="rect"
        />
      </map>
    </figure>
    <br />
    <form class="form-inline">
      <label class="my-1 mr-2" for="inlineFormCustomSelectPref"
        >Choisissez votre ville dans la liste</label
      >
      <select
        class="custom-select my-1 mr-sm-2"
        id="inlineFormCustomSelectPref"
      >
        <option selected>Ma ville...</option>
        <option value="1">Conakry (Zone spécial de)</option>
        <option value="1">Beyla</option>
        <option value="2">Boffa</option>
        <option value="3">Boké</option>
        <option value="1">Coyah</option>
        <option value="1">Dabola</option>
        <option value="1">Dalaba</option>
        <option value="1">Dinguiraye</option>
        <option value="1">Dubréka</option>
        <option value="1">Faranah</option>
        <option value="1">Forécariah</option>
        <option value="1">Fria</option>
        <option value="1">Gaoual</option>
        <option value="1">Guéckédou</option>
        <option value="1">Kankan</option>
        <option value="1">Kérouané</option>
        <option value="1">Kindia</option>
        <option value="1">Kissidougou</option>
        <option value="1">Koubia</option>
        <option value="1">Koundara</option>
        <option value="1">kouroussa</option>
        <option value="1">Labé</option>
        <option value="1">Lélouma</option>
        <option value="1">Lola</option>
        <option value="1">Macenta</option>
        <option value="1">Mali</option>
        <option value="1">Mamou</option>
        <option value="1">Mandiana</option>
        <option value="1">N'Zéékoré</option>
        <option value="1">Pita</option>
        <option value="1">Siguiri</option>
        <option value="1">Télimélé</option>
        <option value="1">Tougué</option>
        <option value="1">Yomou</option>
      </select>
      <div class="custom-control custom-checkbox my-1 mr-sm-2">
        <input
          type="checkbox"
          class="custom-control-input"
          id="customControlInline"
        />
        <label class="custom-control-label" for="customControlInline"
          >Se souvenir de ma ville</label
        >
      </div>

      <button type="submit" class="btn btn-outline-primary my-1">
        Valider
      </button>
    </form>
  </div>
</div>
